@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Contáctenos</h3>

    <address>
        Universidad Fidelitas <br />
        Aplicación para Programación Avanzada Grupo No.7 Jueves noche<br />
        <abbr title="Phone">Tel:</abbr>
        123.456.7890
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@PP1_GrupoA.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@PP1_GrupoA.com</a>
    </address>
</main>